@model IEnumerable<Pracownicy.Models.Tasker>


@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">@Resourcess.Tasker.Tasks</h1>
<p>
    <a asp-action="Create"><buttom class="btn btn-primary"> @Resourcess.Common.Add </buttom></a>
</p>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" /> 
    </label>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Resourcess.Tasker.Title</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Name)*@
                            @Resourcess.Tasker.TaskName
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Description)*@
                            @Resourcess.Tasker.TaskDescription
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Date)*@
                            @Resourcess.Tasker.TaskDate
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.IsDone)
                            </th>*@
                    <th>
                        @Resourcess.Common.Actions
                    </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Tasker)
                    {
                        @if (item.Date < DateTime.Now && item.IsDone == false)
                        {
                            ViewData["color"] = "text-danger";
                        }
                        else if (item.IsDone == true)
                        {
                            ViewData["color"] = "text-success";
                        }
                        else
                        {
                            ViewData["color"] = "";
                        }
                        <tr>
                            <td class="@ViewData["color"]">
                                @*@Html.DisplayFor(modelItem => item.Name)*@
                                dassadasdads
                                @item.Name
                            </td>
                            <td class="@ViewData["color"]">
                                @*@Html.DisplayFor(modelItem => item.Description)*@
                                @item.Description
                            </td>
                            <td class="@ViewData["color"]">
                                @*@Html.DisplayFor(modelItem => item.Date)*@
                                @item.Date
                            </td>
                            @*<td class="@ViewData["color"]">
                                    @@Html.DisplayFor(modelItem => item.IsDone)
                                    @item.IsDone
                                </td>*@
                            @*<td>
                                    <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                                </td>*@
                            <td>
                                <a href="@Url.Action("Edit", "Taskers", new { id = item.TaskId })" class="btn  btn-circle">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="@Url.Action("Details", "Taskers", new { id = item.TaskId })" class="btn  btn-circle">
                                    <i class="fas fa-info"></i>
                                </a>
                                <a href="@Url.Action("Delete", "Taskers", new { id = item.TaskId })" class="btn  btn-circle">
                                    <i class="fas fa-trash"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <!--Pending Requests Card Example-->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">@Resourcess.Tasker.TaskExpired</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.expiredTaskNumber</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tasks fa-2x text-succcess"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Pending Requests Card Example-->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">@Resourcess.Tasker.TaskWaiting</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.NoFinishTaskNumber</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tasks fa-2x text-succcess"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Pending Requests Card Example-->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">@Resourcess.Tasker.TaskFinished</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.DoneTaskNumber</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tasks fa-2x text-succcess"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Pending Requests Card Example-->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@Resourcess.Tasker.TaskAll</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.AllTaskNumber</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tasks fa-2x text-succcess"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
