@model IEnumerable<Pracownicy.Models.Tasker>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Zadania</h1>
<p style="@ViewData["color"]">dassadasdads</p>
<p>
    <a asp-action="Create"><input value="Dodaj" class="btn btn-primary" /></a>
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista zadań</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsDone)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Tasker)
                    {
                        @if(item.Date < DateTime.Now && item.IsDone == false)
                        {
                            ViewData["color"] = "text-danger";
                        }
                        else if (item.IsDone == true)
                        {
                            ViewData["color"] = "text-success";
                        }
                        else
                        {
                            ViewData["color"] = "";
                        }
                        <tr>
                            <td class="@ViewData["color"]">
                                @*@Html.DisplayFor(modelItem => item.Name)*@
                                dassadasdads
                                @item.Name
                            </td>
                            <td class="@ViewData["color"]">
                                @*@Html.DisplayFor(modelItem => item.Description)*@
                                @item.Description
                            </td>
                            <td class="@ViewData["color"]">
                                @*@Html.DisplayFor(modelItem => item.Date)*@
                                @item.Date
                            </td>
                            <td class="@ViewData["color"]">
                                @*@Html.DisplayFor(modelItem => item.IsDone)*@
                                @item.IsDone
                            </td>
                            @*<td>
                                    <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                                </td>*@
                            <td>
                                <a href="@Url.Action("Edit", "Taskers", new { id = item.TaskId })" class="btn  btn-circle">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="@Url.Action("Details", "Taskers", new { id = item.TaskId })" class="btn  btn-circle">
                                    <i class="fas fa-info"></i>
                                </a>
                                <a href="@Url.Action("Delete", "Taskers", new { id = item.TaskId })" class="btn  btn-circle">
                                    <i class="fas fa-trash"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <!--Pending Requests Card Example-->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Przedawnione</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.expiredTaskNumber</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tasks fa-2x text-succcess"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Pending Requests Card Example-->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Do zrobienia</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.NoFinishTaskNumber</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tasks fa-2x text-succcess"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Pending Requests Card Example-->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Zrealizowane</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.DoneTaskNumber</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tasks fa-2x text-succcess"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Pending Requests Card Example-->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Wszystkie</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.AllTaskNumber</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tasks fa-2x text-succcess"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
